@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

:root {
    --font-family: 'Caveat';
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
    list-style: none;
}

.menu li:first-child {
    color: orange;
}

.menu li:nth-child(2) {
    font-style: italic;
}

.menu li:nth-child(n+2) {
    font-weight: 800;
}

.menu a:hover {
    opacity: 0.8;
    color: chocolate;
}

.menu a:active {
    color:brown;
}

.menu a {
  color: cornflowerblue;
  font-size: 16px;
  line-height: 20px;
}

.h1_style {
  color: #222222;
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
  font-family: var(--font-family);
}

.h2_style {
  color: coral;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 80px;
}

.paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.image {
  border-radius: 10px;
  width: 400px;
}

.input_style {
  width: 200px;
  height: 30px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  line-height: 30px;
}

.button {
  width: 100px;
  height: 30px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.block_1 {
  margin: 10px;
  padding: 10px;
}

.block_2 {
  margin: 15px;
  padding: 15px;
}

.block_3 {
  margin: 20px;
  padding: 20px;
}
